
<style>
  .quantity{text-align: center;
    border:solid 3px rgb(105, 105, 105);
    padding: 20px 0px;padding-top: 0px;
    }
    input{background:rgb(207, 207, 207);
    height: 30px;
    width: 90px;
    padding:0px 10px;
    border:solid 3px rgb(105, 105, 105);
    outline: unset;}
</style>

<div class="quantity">
    <p style="font-size: 25px;margin:20px 0px;">Quantity</p>
    <input type="Number" min="0" id="Quantity" placeholder="Type here">
</div>

